.secondinput {
    margin-top: 1%;
    width: 70%;
}

.firstinput {
    display: flex;
    width: 100%
}

.UpdateModel {
 width : 90%
}

.UpdateButton {
    margin-left: 10%;
}

.Update {
    font-size: 120%;
    font-weight: 500;
}

.ImageOutlinedIcon1 {
    margin-left: 100px;
}