.forgetMainContainer {
	background-color: #fff;
	border : 1px solid #dadce0;
	margin : 50px auto;
	align-items: center;
	height : 500px;
	max-width : 450px;
	border-radius: 8px;	
}

.forgetContainer {

	padding: 30px 40px 36px;
	display : flex;
	flex-grow: 1;
	box-sizing: border-box;
	flex-direction: column;
	justify-content: center;
}

.buttonContainer {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	padding-top: 30px;
}

.textField1 {
	padding-top: 20px;
}

.textField2 {
	padding-top: 20px;
}

.forgetfundoofont{
	
	align-items: center;
	font-size: 30px; 
	font-weight : 500;

}

.forgettitle {
	padding-top: 15px;
	font-size: 30px;
	font-weight: 400;
}

.forgetSubTitle {
	font-size: 18px;
	font-weight: 500;
	opacity: 0.9;
}
