.loginMainContainer {
	background-color: #fff;
	border : 1px solid #dadce0;
	margin : 50px auto;
	align-items: center;
	height : 500px;
	max-width : 450px;
	border-radius: 8px;	
}

.loginContainer {

	padding: 30px 40px 36px;
	display : flex;
	flex-grow: 1;
	box-sizing: border-box;
	flex-direction: column;
	justify-content: center;
}

.buttonContainer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding-top: 30px;
}

.textField1 {
	padding-top: 20px;
}

.textField2 {
	padding-top: 20px;
}

.loginfundoofont{
	
	align-items: center;
	font-size: 30px; 
	font-weight : 500;

}

.logintitle {
	padding-top: 15px;
	font-size: 20px;
	font-weight: 500;
}

.loginSubTitle {
	padding-top: 5px;
	font-size: 18px;
	font-weight: 500;
	opacity: 0.6;
}

.CreateAccount {
	font-size: 15px;
	font-weight: 600;
}