.loginMainContainer {
	background-color: #fff;
	border : 1px solid #dadce0;
	margin : 10px auto;
	align-items: center;
	height : 600px;
	max-width : 450px;
	border-radius: 8px;	
}

.loginContainer {

	padding: 10px 40px 30px;
	display : flex;
	flex-grow: 1;
	box-sizing: border-box;
	flex-direction: column;
	justify-content: center;
}

.buttonContainer {
	display: flex;
	flex-direction: row;
	
	padding-top: 30px;
	
}

.textField1 {
	padding-top: 14px;
}

.textField2 {
	margin-top: 14px;
}

.loginfundoofont{
	
	align-items: center;
	font-size: 30px; 
	font-weight : 500;

}

.logintitle {
	padding-top: 15px;
	font-size: 20px;
	font-weight: 500;
}

.loginSubTitle {
	padding-top: 5px;
	font-size: 18px;
	font-weight: 500;
	opacity: 0.6;
}

.CreateAccount {
	font-size: 15px;
	font-weight: 600;
}

.error {
 color: red;
}

.Lbutton1 {
	margin-right : 110px;
}